
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,700&display=swap');

body {
    margin:0;

}

header {
    position: sticky;
    top:0;
    width: 100%;
    background-color: #535151;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    z-index: 1;
}

header div h1 {
    cursor: pointer;
    color:#d3d3d3;
    letter-spacing: 0.3rem;
    font-family: Raleway;
    font-size: 20px;
}

nav ul {
    display: flex;
    flex-flow:row;
    align-items: center;
    list-style-type: none;
}

nav ul li {
    color:#d3d3d3;
    font-family: Raleway;
    font-size:15px;
    line-height: 57px;
}

#navItem-1 {
    width:115px;
    color:#faf7f4;
    
}

#navItem-2 {
    width:101px;
    
}

#navItem-3 {
    width:148px;
    
}

#navItem-4 {
    width: 161px;
    
}

#navItem-5 {
    width:172px;
    
}

#navItem-6 {
    position: relative;
}

#navItem-6 span {
    font-size: 12px;
    position: absolute;
    height: 1px;
    top:-8%;
    left:30%;
}

.navLink {
    text-decoration:none;
    transition: color .4s ease 0s;
}
.navLink:hover {
    color:#A0C2C9;
    cursor: pointer;
}

#sec1 {
    width: 100%;
    height:601px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#photo1 {
    width: 100%;
    height: 601px;
    object-position: 50% 50%;
    object-fit: cover;
    
}

#containerGrey {
    width:547px;
    height:170px;
    background-color: #ffffff92;
    position: absolute;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

#containerGrey h1 {
    margin: 29px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    font-weight: bold;
    color: #303132;
}

#comprarLink {
    font-family: Raleway;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    display: block;
    width: 212px;
    height: 40px;
    color:rgb(255, 255, 255);
    background-color: #303132 ;
    transition: background-color ease .4s, color ease .4s ;
}

#comprarLink:hover {
    background-color: #ffffff;
    color:#303132
}

#sec1 p {
    font-size: 13px;
    letter-spacing: 0.3rem;
    font-family: Raleway;
    background-color: #e5e5e5;
    display: block;
    width: 100%;
    text-align: center;
    margin:0;
    padding:13px;
    color:#303132;
    margin-bottom:67px;
}

#sec2 {
    text-align: center;
}

#sec2 h2 {
    color:#303132;
    letter-spacing: 10px;
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
}

#trace {
    width:31px;
    height:5px;
    margin:0px 0px 25px 48.4%;
    border-top:1.5px solid black
}

#sec2 h3 {
    color:#303132;
    font-size: 19px;
    font-family: Raleway;
    letter-spacing: 5.7px;
    font-weight: normal;
    margin-bottom: 68px;
}

.jan {
    display: inline-block;
    position: relative;
}
.jan div {
    width:298px;
    height:353px;
    object-fit: cover;
    margin:0;
    
}

.one .image-jan {
    background-image: url("https://static.wixstatic.com/media/11062b_4ac1336b18834289a842e7e5ffee8234~mv2.jpg/v1/fill/w_331,h_392,al_c,q_85,usm_0.66_1.00_0.01/11062b_4ac1336b18834289a842e7e5ffee8234~mv2.webp");
    transition: background-size calc(.25s * 3) ease ;
    background-size: 100%;
    background-position: center center;
}

.jan .on-off {
    position: relative;
    background-image: none;
    width: auto;
    height: auto;
    background-color: #303132;
    padding: 18px 0px 18px 0px;
    
}

#janelas h4{
    font-weight: normal;
    font-size: 15px;
    font-family: Raleway;
    letter-spacing: normal;
    color:#ffffff;
    margin:0;
    padding: 0px 25px 0px 25px;
    
}

.three .image-jan {
    background-image: url("https://static.wixstatic.com/media/11062b_4d16540054734bafabe1404e0fc5822b~mv2.jpg/v1/fill/w_332,h_392,al_c,q_85,usm_0.66_1.00_0.01/11062b_4d16540054734bafabe1404e0fc5822b~mv2.webp");
    background-position: center center;
    transition: background-size calc(.25s * 3) ease ;
    background-size: 100%;
}

.off {
    transition: .25s ease .2s;
}
.on {
    opacity: 0;
    position: absolute;
    top: 18px;
    left:67px;
    transition: .4s ease;
}

.one:hover .on, .three:hover .on {
    opacity: 1;
    transition: .4s ease .2s;
}

.one:hover .off, .three:hover .off {
    opacity: 0;
    transition: .25s ease;
}

.one:hover div, .three:hover .image-jan {
    background-size: 107% ;
}

.two .image-jan {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    height: 408.5px;;
    object-fit: cover;
    object-position: 50% 50%;
    margin-bottom: -23px;
    position: relative;
    
}

#janelas .two h4 {
    padding: 0;
    font-size: 55px;
    font-family: 'Times New Roman', Times, serif;
    color:#303132;
    position: absolute;
    top:70px;
    left:33.5px;
}

#janelas {
    margin-bottom:52px;
}

footer {
    background-color: #303132;
    padding-top:15px;
}

#footerList {
    padding: 0px 70px 0px 70px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.tel, #email, #social {
    width: 323px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#footerList h4 {
    letter-spacing: 0.1rem;
    text-align: center;
    font-family: Raleway;
    font-size: 13px;
    font-weight: normal;
    color:#d3d3d3
}

#social img {
    width: 18px;
    height: 18px;
}

#iconSocial-list {
    margin-top: 15px;
    width: 150px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#email {
    text-align: center;
}

#emailUser {
    background-color: #535151;
    outline: none;
    color: #d3d3d3;
    border: none;
    display: block;
    font-size: 15px;
    font-family: Raleway;
    width: 275px;
    height: 29px;
    padding:3px 3px 3px 21px;
}
#submit {
    background-color: #d3d3d3;
    color:#1a1919;
    font-family: Raleway;
    font-size: 15px;
    margin-top: 10px;
    border: none ;
    display: block;
    width:299px;
    height:35px;
    transition: color .4s ease 0s, background-color.4s ease 0s;
}

#emailUser:hover {
    background-color: #ffffff;
    color:#d3d3d3
}

/* Não funciona */
#emailUser:checked {
    background-color: #ffffff;
    color: #d3d3d3;
}

#submit:hover {
    background-color: #535151;
    color:#d3d3d3
}

#emailUser::placeholder {
    color: #D3D3D3;
}

.tel span {
    letter-spacing: 0.1rem;
    color:#ffffff;
    font-family: Raleway;
    font-size: 13px;
}

.tel:last-child span {
    margin-top: 5px;
}

#infoCopyRights {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#infoCopyRights > p {
    margin:5px;
    text-align: center;
    font-family: Raleway;
    font-size: 13px;
    outline: none;
    color:#ffffff;
    text-decoration: none;
}

#infoCopyRights a {
    color:#ffffff;
    text-decoration: none;
    outline: none;
}
