@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --fontRacing : 'Press Start 2P', cursive;
}

* {
    padding: 0;
    margin: 0;
    font-family: var(--fontRacing);
}

body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("Assets/backGround.png");
    background-position: 190px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    animation: gradient 50s linear infinite;
}

article {
    height: 100%;
    background-color: #262626;
    width: 75%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    overflow-x: hidden;
}

h1 {
    padding: 20px 15px;
    font-size: 2.3rem;
    margin-bottom: 50px;
    align-self: flex-start;
    color: rgb(214, 214, 214);
}

#tiposDeCorrida {
    width:100%;
    text-align: center;
    margin-bottom: 90px;
}

#tiposDeCorrida input {
    padding: 22px 20px;
    background-color: rgb(214, 214, 214);
    font-size: 1.2rem;
}

#tiposDeCorrida input:nth-child(2) {
    margin: 0px 85px;
}

#sec1 {
    margin-bottom: 80px;
}

#sec1 h2 {
    color: rgb(214, 214, 214);
    
}

#sec1 span {
    text-decoration: underline;
}

#sec1 img {
    width:130px;
    height: 130px;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    opacity: 0.1;
}

#sec2 {
    border-radius: 10px 10px 0px 0px;
    background-color: rgb(214, 214, 214);
    width: 100%;
    text-align: center;
}

table {
    width:425px;
    margin-top: 30px;
    display: inline-block;
    color: #262626;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th,td {
    width: 100%;
    padding: 15px 50px;
    line-height: 20px;
    position: relative;
}
tr {
    width: 100%;
    border: 1px solid #262626;
    padding: 0;
}



/* width */
::-webkit-scrollbar {
    width: 7px;
    border-radius: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(214, 214, 214); 
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(83, 83, 83); 
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(77, 77, 77); 
  }

  @keyframes gradient {
    0% {
      background-position: 190px 0px;
    }
    50% {
      background-position: 900px 0px;
    }
    100% {
      background-position:  190px 0px;
    }
  }

  .medals {
      width:45px;
      height: 45px;
      position: absolute;
      top: 3px
  }

  #pagina2 {
      display: none;
      
  }

  #pagina1 {
      width: 100%;
  }

  #pagina1 > h1 {
      text-decoration: underline;
      text-align: center;
  }

  .cards {
      display: flex;
      flex-flow: row nowrap;
      width: 100%;
      height: 250px;
      background-color: transparent;
      margin-bottom: 10px;
  }

  .card {
      box-sizing: border-box;
      padding: 10px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
      height: 100%;
      border: 1.5px solid #acacac;
      width: 16.66%;
      background-color: transparent;
  }

  .card img {
      height: 110px;
  }

  #nameCard {
    font-size: 16px;
    text-decoration: underline;
  }
  .card span {
    font-size: 13px;
    color: #acacac;
  }

  .card button {
      margin-top: 15px;
      font-size: 15px;
      padding: 4px;
      background-color: transparent;
      border: 1.5px solid #acacac;
      color: #acacac;
      transition: 0.2s ease 0s;
  }

  .card button:hover {
      background-color: #acacac;
      color: #262626;
  }

  .info {
      margin-top: 25px;
      padding: 10px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      font-size: 10px;
  }

  .cards form {
      display: flex;
      flex-flow: row nowrap;
      width: 83%;
  }

  .cards input {
      display: none;
      
  }

  .cards label {
      width: 20%;
  }

  #trocaDePagina {
      margin-left: 39%;
      padding: 15px;
      font-size: 20px;
  }

  #vencedorSentença {
      text-align: center;
  }