*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

body{
    width: 100vw ;
    height: 100vh;
}

article{
    display: flex;
    flex-flow: row nowrap;
    justify-content:flex-start;
    align-items: flex-start;
    height: 100%;
}

section{padding: 50px;}

table{
    padding: 52px;
    border-left: 1px solid black;
    overflow: scroll;
}

th,td{
    padding: 3px 50px;
    border-bottom: 1px solid black;
}
th{
    color: #464646;
}


section, form{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
}

label{
    width: 100%;
}

input{
    padding: 3px 0px;
    width: 250px;
    height: 25px;
    text-align: left;
    font-size: 16px;
    margin-bottom: 20px;
}

button {
    padding: 10px;
    font-size: 17px;
}
