*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}

body{
    width: 100vw ;
    height: 100vh;
}

article{
    display: flex;
    flex-flow: row nowrap;
    justify-content:flex-start;
    align-items: flex-start;
    height: 100%;
}

section{padding: 50px;border-right: 1px solid black;}

table{
    padding: 52px;
    overflow: scroll;
}

th,td{
    padding: 3px 50px;
    border-bottom: 1px solid black;
}
th{
    color: #464646;
}


section, form{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
}

label{
    width: 100%;
}

input{
    padding: 3px 0px;
    width: 250px;
    height: 25px;
    text-align: left;
    font-size: 16px;
    margin-bottom: 20px;
}

button {
    padding: 10px;
    font-size: 17px;
}

#filtros {
    margin-top: 100px;
    height: 120px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

#part2 {
    padding: 52px;
    overflow-y: scroll;
    list-style-type: none;
    color: #464646;
    border-bottom: 2px solid black ;
    height: 200px;
    display: none;
}

li{
    padding: 10px;
    border-bottom: 1px solid black;
}

.infoPart2 {
    padding: 5px 50px;
    border-bottom: 2px solid black;
    display: block;
}


