@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #856666;
}

main{
    width: 25%;
    height: 60%;
    margin-bottom: 3em;
}

::-webkit-scrollbar{
    width: 5px;
    height: 4px;
}
::-webkit-scrollbar-thumb{
    background-color: #ffd52f;
}
::-webkit-scrollbar-track{
    background-color: #d8d8d8;
}

.equal{
    background-color: #ffd52f !important;
}
.equal:hover{
    background-color: #fdd946 !important;
}

#inputResult{
    display: none;
}

#result{
    font-family: 'Orbitron', sans-serif;
    color: yellowgreen;
    width: 100%;
    font-size: 3em;
    direction:rtl;
}

#screen{
    background-color: #292929;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 2em;
    height: 10%;
    border-radius: 8px;
    text-align: right;
}
#keyboard{
    margin-top: 0.3em;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 0.5em;
    height: 90%;
}
.key{
    background-color: #ececec;
    border: none;
    border-radius: 8px;
    padding: 0.3em;
    font-size: 1.5em;
    color: #414141;
}
.key:first-child{
    grid-column-start: 1;
    grid-column-end: 4;
}
.key:hover{
    background-color: #d8d8d8;
}
